/* VARIABLES */
:root {
  --dark-bg: #2D2D2D;
  --light-bg: #969696;
  --primary-color: #8000ff;
  --text-color: white;
  --button-hover-color: #0056b3;
}

/* APP LEVEL */
.App {
  text-align: center;
  background-color: var(--dark-bg);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  animation: App-logo-spin infinite 20s linear;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--text-color);
}

.App-link {
  color: #61dafb;
}

/* NAV BAR */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 999;
  background-color: var(--dark-bg);
  color: var(--text-color);
  padding: 0 20px; /* Padding on left and right to keep content within bounds */
  box-sizing: border-box; /* Ensures padding is considered in the width */
}

nav label {
  font-variant: small-caps;  
  font-size: 30px;
}

nav ul {
  display: flex; /* Make the ul a flex container */
  margin: 0; /* Ensure there's no margin around ul */
  padding: 0; /* Remove padding around ul */
  list-style-type: none; /* Remove bullets */
}

nav ul li {
  padding: 1em;
  font-variant: small-caps; 
}

nav ul li:hover {
  background-color: var(--primary-color);
}

/* HEADER SECTION */
header {
  position: relative; /* Make the header a positioned element */
  padding-top: 75px;
  background: var(--dark-bg) url("../src/images/header-background.webp") center center / cover no-repeat;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-color);
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7); /* Dark overlay with some transparency */
  z-index: 1; /* Ensure the overlay is below the content */
}

/* Make sure content inside header is above the overlay */
header * {
  position: relative;
  z-index: 2;
}

 /* INTRO SECTION */
#intro {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns, image on the left, details on the right */
  width: 50%; /* Center on the page */
  background-color: var(--dark-bg);
  color: var(--text-color);
  margin: 20px;
  height: auto; /* Set a fixed height */
}

#intro img {
  width: 100%; /* Make image take up full column width */
  object-fit: cover; /* Keep the aspect ratio of the image */
  height: 100%;
  max-width: 100%;
  object-fit: cover;
}

#intro_details {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 10px;
  background-color: var(--dark-bg);
  color: var(--text-color);
}

#intro_details h2, #intro_details p {
  margin: 5px 0;
  font-style: italic;
}

header section h1 {
  font-size: 40px;
  margin: 5px 0;
  line-height: 1.4ex;
}

/* #summary {
  background-color: #969696;
  color: white;
  text-align: center;
  align-content: center;
}
#summary p {
  padding-left: 400px;
  padding-right: 400px;
  min-width: 400px;
} */

  /* SUMMARY SECTION */
  #summary {
    background-color: var(--light-bg);
    color: var(--text-color);
    text-align: center;
    padding: 40px 5%;
  }
  
/* MAIN SECTION */
#title {
  background-color: var(--dark-bg);
  color: var(--text-color);
  font-size: 35px;
  display: flex;
  letter-spacing: 8px;
  text-align: center;
  padding: 15px;
  height: 60px;
  align-items: center;
  justify-content: center;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

#experience {
  background-image: url("../src/images/experience.jpg");
}

#experience, #education, #education2  {
  position: relative;
  background-size: cover;
  background-position: bottom;
  color: white;
  list-style-position: inside;
  list-style-type: square;
}

#experience::before, #education::before, #education2::before  {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6); /* Dark overlay with some transparency */
  z-index: 1; /* Ensure the overlay is below the content */
}

/* Make sure content inside #education is above the overlay */
#experience *, #education *, #education2 *{
  position: relative;
  z-index: 2;
}

#education, #education2 {
  background-image: url("../src/images/derby.jpg");
}

main img , #experience img{
  height: 30px;
  /* padding-top: 20px; */
}

#education2, #experience {
  display: grid; /* Make it a grid container */
  grid-template-columns: 1fr; /* Two columns: headings and details */
  align-items: stretch;
  text-align: center;
  row-gap: 10px;
}

#experience div {
  padding-left: 5%;
  padding-right: 5%;
}

.cert:nth-child(odd), .edu:nth-child(odd) {
  text-align: left; /* Align odd items to the right */
  color: #ffffff;
  line-height: 1%;
  padding-left: 50%;
}

.cert:nth-child(even), .edu:nth-child(even) {
  text-align: right; /* Align even items to the left */
  line-height: 1%;
  padding-right: 50%;
  padding-top: 5px;
}

hr.rounded {
  border-top: 8px solid #bbb;
  border-radius: 5px;
}

/* TESTIMONIALS SECTION */
.carousel-container {
  background-color: var(--light-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.carousel-content {
  text-align: center;
  justify-content: center;
  color: var(--text-color);
  display: grid;
  width: 80%;
/*adjust height to stop changing */
}

#portfolio .carousel-content h4 {
  grid-row: 1/1;
}

.carousel-content h4 {
  grid-row: 2/2;
}

.carousel-container button {
  background-color: #8000ff;
  color: var(--text-color);
  padding: 10px 20px; 
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.carousel-container button:hover {
  background-color: var(--button-hover-color);
}

/* CONTACT SECTION */
.contact-container {
  background-color: var(--dark-bg);
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two equal columns */
  gap: 20px; /* Space between the columns */
  padding: 40px;
}

.contact-form, .contact-details {
  background-color: var(--dark-bg);
  color: var(--text-color);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.contact-form input, .contact-form textarea {
  background-color: var(--dark-bg);
  width: 97%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: var(--text-color);
}

textarea {
  resize: none;
  height: 100px;
}

.contact-form button {
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: var(--button-hover-color);
}

.contact-details {
  background-color: #2D2D2D; 
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  color: white;
}

.contact-details h2 {
  margin-bottom: 10px;
}

.contact-details p {
  margin: 5px 0;
}

  /* MEDIA QUERIES */
  @media (max-width: 768px) {
    #intro {
      grid-template-columns: 1fr;
      text-align: center;
    }
  
    main section {
      grid-template-columns: 1fr 1fr;
    }
  
    .contact-container {
      grid-template-columns: 1fr;
    }
    #intro {
      grid-template-columns: 1fr; /* Stack in a single column */
      text-align: center;
      justify-content: center; /* Center items horizontally */
      align-items: center; /* Center items vertically */
    }
  
    #intro img, #intro_details {
       height: auto; /* Let the content dictate the height */
    }
  }

/* Hamburger Menu */
.hamburger {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

/* Menu styles for mobile when open */
/* .menu.open {
  display: block;
  background-color: var(--dark-bg);
} */

/* Mobile-specific styles */
@media (max-width: 768px) {
    /* Hide the regular nav links */
    nav ul {
        display: none;
    }

    .hamburger {
        display: block; /* Show the hamburger icon */
        transform: rotate(180deg);
      transition: transform 1s ease;
    }

    .hamburger.open {
      transform: rotate(90deg);
      transition: transform 0.3s ease;
    }
}


@media (max-width: 768px) {
  nav ul {
      display: none; /* Hide by default */
      flex-direction: column;
      background-color: var(--dark-bg);
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      padding: 0;
      margin: 0;
      list-style-type: none;
      text-align: center;
      transition: transform 0.3s ease-in-out; /* Add transition for sliding */
      transform: translateY(-100%);
      transform: translateY(-100%);
      opacity: 0;
      pointer-events: none;
  }

  .menu-open {
    display: block;
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
}
.menu-closed {
    display: none;
    transform: translateY(0)
}
}

.notes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
}


.note {
  width: 100px;
  height: 100px;
  background-color: #fdfd96;
  padding: 1rem;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  font-size: 1.2rem;
  line-height: 1.4;
  color: #333;
  text-align: center;
  border: 1px solid #e2e2e2;
  position: relative;
  transform: rotate(calc(-5deg + 10deg * var(--rotate)));
  transition: transform .15s linear;
}

.note:hover,.note:focus{
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  transform: scale(1.25);
  position:relative;
  z-index:5;
}

.note:nth-child(1) {
  --rotate: 1;
}

.note:nth-child(even) {
  --rotate: 2;
  position:relative;
  top:5px;
  background:#cfc;
}

.note:nth-child(3n) {
  --rotate: -1;
  position:relative;
  top:-5px;
  background:#ccf;
}

.note:nth-child(5n) {
  --rotate: 5;
  position:relative;
  top:-10px;
}