

main section {
  display: grid;
  grid-template-columns:  1fr 2fr;
  gap: 5px;
}



main section h2, main section h3 {
  text-align: right;
  padding-right: 5px;
}

main section h3 {
  text-shadow: 0.2px 0.2px var(--primary-color);
}

main section p, main section ul {
  grid-column: 2/2;
  padding: 5px 10px;
}